.experience_container>div {
    width: max-content;
    margin: 0 auto;
    background-color: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: solid 1px transparent;
    transition: var(--transition);
}

.experience_container>div:hover {
    background-color: transparent;
    border-color: var(--color-bg-variant);
    cursor: default;
}

.experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 4rem;
}

.experience__details {
    display: flex;
    gap: 1rem;
}

.experience__details-icon {
    color: var(--color-primary);
    margin-top: 6px;
}

/* ----------------- MEDIA QUERIES --------------- */
@media screen and (max-width: 1023px) {
    .experience_container>div {
        width: 80%;
        margin: 0 auto;
        padding: 2rem;
    }

    .experience__content {
        padding: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .experience_container>div {
        width: 100%;
        padding: 2rem 1rem;
    }
}